{% extends "base.html" %}
{% block content %}
  <br>
  <br>
  <br>
  <br>
  <div class="" style="font-family: montserrat;">
    <div class="container bg- p-1 mt-1">
      <div class="d-flex justify-content-center" style="margin: auto; width: 80%;">
        <img src="https://media.istockphoto.com/id/145922846/photo/young-seedling-growing-out-of-soil-over-a-white-background.jpg?s=612x612&w=0&k=20&c=AZSan57U0KuEsKgjswhw-KJsJyi66s51LnzA-bkaQtA=" width="100%" height="100%">
      </div>
      <h1 class="d-flex justify-content-center">A Place for Plant Lovers.</h1>
    </div>
    <br>

    <div class="container d-flex flex-column flex-md-row mt-5 mb-3 rounded-1 col-12 " style="background-color: lightgray;">

      <div class="mr-4 mt-5 p-4">
        <br>
        <b><br><br><br><br><br>
          <div class="pt-4">
            <h2>My Favorite Plant Right Now Is The Spotted Begonia</h2>
            <br>
            <p style="font-weight: 350; height: 1%;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo</p>
          </div>
        </div>

        <div class="mt-5 mb-5 ml-4 p-2">
          <img src="https://tumbleweedplants.com/cdn/shop/products/polka-dot-begonia-plinth-pot-chestnutlarge-just-plant-tumbleweed-plants-500906.jpg?v=1695780649&width=1200" width="100%" height="100%">
        </div>
      </div>

      <br>

      <div class="container d-flex flex-column flex-md-row mt-5 mb-3 rounded-1 col-12" style="background-color: cornsilk;">
        <div class="p-2" style="flex: 1;">
          <img src="https://s3.amazonaws.com/images.gearjunkie.com/uploads/2016/07/aloe-plant.jpg" class="img-fluid" alt="Aloe Plant">
        </div>

        <div class="mr-4 mt-5 p-4 d-flex flex-column justify-content-center" style="flex: 1;">
          <h2>From a Different View, Maybe You'll Realize That You Love Them Too</h2>
          <p style="font-weight: 350;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
    </div>

    <br>

    <div class="container mt-5 mb-2 rounded-1 " style="background-color: darkseagreen;">

      <div class="mr-4 mt-5 p-4">
        <br>
        <b><br><br><br>
          <div class="" style="width: 100%;margin: auto; text-align: center; ">
            <h2>The Universe Presents To You, Life At Its Fullest.</h2>
          </div>
        </div>
        <div class="mt-5 mb-5">
          <iframe width="100%" height="500" src="https://www.youtube.com/embed/_kB-2Ex-0w8?si=UyMJHqOrMrWjUumU&amp;start=204" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen"></iframe>
        </div>

      </div>
    </div>

  {% endblock %}
