<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top active rounded-1 d-flex pb-4" style="border-bottom: 1px solid #dee2e6; font-family: 'Montserrat'; align-items: center;">
  <div class="container">
    <a class="navbar-brand s-5" style="font-weight: 500; font-size: xx-large;" href="{% url 'home' %}">Plantie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mt-3">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'your_plantie' %}">Post Your Plantie</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'plant_show' %}">Plantie Show</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'why_plant' %}">Why Plantie</a>
        </li>
        <li class="nav-item ">
          <div class="container m-2">
            <form class="d-flex" role="search" action="{% url 'search_plant' %}">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-danger " href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link text-danger" href="{% url 'signup' %}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<br><br>
